################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NNH.XrmToolBox.DeleteRecordRecovery/bin/Debug
/NNH.XrmToolBox.DeleteRecordRecovery/obj/Debug
/.vs
/packages
